@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.paystring-logo {
    background-image: url(/assets/img/paystring-logo.svg);
    background-size: 162px 32px;
    width: 162px;
}

@media (max-width: 640px) {
    .paystring-logo {
        width: 36px;
    }
}